#override-bootstrap a.navbar-brand,
#override-bootstrap a.nav-item,
#override-bootstrap h1,
#override-bootstrap h3,
#override-bootstrap .src,
#override-bootstrap .nav-pills>li>a{
	color: #002F66;
}

#override-bootstrap .panel-heading,
#footer-button  {
	background-color: #002F66;
	color: white;
}

#override-bootstrap .language,
#override-bootstrap .nav-pills>li>p, 
#override-bootstrap .project-data,
#override-bootstrap h2,
#override-bootstrap h4{
	color: #B27300;
}

#override-bootstrap li.active a.nav-item,
#override-bootstrap .nav-pills>li.active>a{
	color: white;
	background-color: #B27300;
}

#override-bootstrap .landing{
	margin: auto;
	text-align: center;
}
 
#override-bootstrap .panel-footer>p>a, 
#override-bootstrap .panel-footer{
	color: white;
	background-color: #065C7D;
}


#override-bootstrap .row{
	padding-bottom: 46px;

}

#override-bootstrap .small-logo{
	max-height: 25px;
	width: auto;
	height: auto;
}

#override-bootstrap .big-logo{
	max-height: 95px;
	max-width: 150px;
	width: auto;
	height: auto;
}
